@model BaseApp.Web.Models.ForgotPassword.CompleteResetPasswordModel

@{
    ViewBag.Title = "Complete Reset Password";
    Layout = "~/Views/Shared/_LayoutGuest.cshtml";
}

<form asp-action="CompleteResetPassword" asp-controller="ForgotPassword" class="form-horizontal form-forgot-password">
    <input asp-for="RequestId" type="hidden"/>
    <h2>Complete Reset Password</h2>
    <div>
        <fieldset>
            <legend>Please enter your new password</legend>
            <div class="form-group">
                <label asp-for="NewPassword" class="col-sm-4 control-label"></label>
                <div class="col-sm-5">
                    <input asp-for="NewPassword" type="password" class="form-control" data-focus="true" placeholder="@Html.DisplayNameFor(x=>x.NewPassword)" />
                    <span asp-validation-for="NewPassword"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="col-sm-4 control-label"></label>
                <div class="col-sm-5">
                    <input asp-for="ConfirmPassword" type="password" class="form-control" data-focus="true" placeholder="@Html.DisplayNameFor(x=>x.ConfirmPassword)" />
                    <span asp-validation-for="ConfirmPassword"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-5">
                    <input type="submit" value="Reset password" class="btn btn-default" />
                </div>
            </div>
        </fieldset>
    </div>
</form>