@{
    ViewBag.Title = "Reset password";
    Layout = "~/Views/Shared/_LayoutGuest.cshtml";
}
<h2>Reset password</h2>
<div style="color: green; font-weight: bold;">
    Reset password email sent successfully.
</div>