<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="App_Data\Logs\internal-nlog.txt">

  <extensions>
    <!--enable NLog.Web for ASP.NET Core-->
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  
  <!-- define various log targets -->
  <targets>

    <target name="database-web" xsi:type="Database" connectionString="${configsetting::name=Data.DefaultConnection.ConnectionString}">
      <commandText>
        insert into AppLog (LogName, LogLevel, LogDate, AppVersion, UserName, ClientIp,  RequestMethod, RequestContentType, RequestUrl, QueryString, RefererUrl, UserAgent, Callsite,  [Message], Exception)
        values (@LogName, @LogLevel, @LogDate, @AppVersion, @UserName, @ClientIp,  @RequestMethod, @RequestContentType, @RequestUrl, @QueryString, @RefererUrl, @UserAgent, @Callsite,  @Message, @Exception);
      </commandText>
      
      <parameter name="@LogName" layout="${logger:shortName=true}" />
      <parameter name="@LogLevel" layout="${level:UpperCase=true}" />
      <parameter name="@LogDate" layout="${date}" />
      <parameter name="@AppVersion" layout="${custom-build-date}" />
      <parameter name="@UserName" layout="${aspnet-user-identity}" />
      <parameter name="@ClientIp" layout="${aspnet-request-ip}" />
      <parameter name="@RequestMethod" layout="${aspnet-Request-Method}" />
      <parameter name="@RequestContentType" layout="${aspnet-request-contenttype}" />
      <parameter name="@RequestUrl" layout="${aspnet-Request-Url}" />
      <parameter name="@QueryString" layout="${aspnet-request-querystring}" />
      <parameter name="@RefererUrl" layout="${aspnet-Request-Referrer}" />
      <parameter name="@UserAgent" layout="${aspnet-Request-UserAgent}" />
      <parameter name="@Callsite" layout="${callsite:skipFrames=1}" />
      <parameter name="@Message" layout="${message}" />
      <parameter name="@Exception" layout="${exception:format=tostring}" />
    </target>

    <target xsi:type="Null" name="blackhole" />
  </targets>

  <rules>
    <!--All logs, including from Microsoft
    <logger name="*" minlevel="Trace" writeTo="allfile" />-->

    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Error" writeTo="database-web" />
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    
    <logger name="*" minlevel="Information" writeTo="database-web" />
  </rules>  
</nlog>