<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="App_Data\Logs\internal-nlog.txt">

  <!-- define various log targets -->
  <targets>
    <!-- write logs to file -->
    <!--<target xsi:type="File" name="allfile" fileName="App_Data\Logs\nlog-all-${shortdate}.log"
                 layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message} ${exception}" />
     -->


    <target xsi:type="File" name="ownFile-web" fileName="${basedir}\App_Data\Logs\${logger}\${level:UpperCase=true}_${shortdate}.log"
             layout="${newline}------------------------------${newline}${longdate} [New: todo] [Server IP: ${aspnet-request:serverVariable=LOCAL_ADDR}] [User: ${aspnet-user-identity}] [ContentType: ${aspnet-request:serverVariable=CONTENT_TYPE}] [${aspnet-request:serverVariable=REQUEST_METHOD}: ${aspnet-Request-Url}] [Referer URL: ${aspnet-request:serverVariable=HTTP_REFERER}] [User agent: ${aspnet-request:serverVariable=HTTP_USER_AGENT}] ${newline}${callsite}${newline}${message}${newline}${exception:format=tostring}"
            />

    <target xsi:type="Null" name="blackhole" />
  </targets>

  <rules>
    <!--All logs, including from Microsoft
    <logger name="*" minlevel="Trace" writeTo="allfile" />-->

    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Trace" writeTo="ownFile-web" />
  </rules>
  <extensions>
    <!--enable NLog.Web for ASP.NET Core-->
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
</nlog>