@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Internal Server Error</title>
    @Html.Partial("_Include")
</head>
<body>
<div>
    <h1 class="text-danger">Internal Server Error.</h1>
    <h2 class="text-danger">An error occurred while processing your request.</h2>
</div>
</body>
</html>