<form enctype="multipart/form-data" method="post" action="http://localhost:38717/api/TestApiAnonim/SaveTestFileData" id="ajaxUploadForm" novalidate="novalidate">

    <fieldset>
        <legend style="padding-top: 10px; padding-bottom: 10px;">Uploaded Form</legend>

        <div class="col-xs-12" style="padding: 10px;">
            <div class="col-xs-4">
                <label>UserId</label>
            </div>
            <div class="col-xs-7">
                <input placeholder="UserId" class="form-control" name="UserId" id="UserId">
            </div>
        </div>

        <div class="col-xs-12" style="padding: 10px;">
            <div class="col-xs-4">
                <label>CompanyId</label>
            </div>
            <div class="col-xs-7">
                <input placeholder="CompanyId" class="form-control" name="CompanyId" id="CompanyId">
            </div>
        </div>

        <div class="col-xs-12" style="padding: 10px;">
            <div class="col-xs-4">
                <label>Upload</label>
            </div>
            <div class="col-xs-7">
                <input type="file" id="CompanyFile" name="CompanyFile">
            </div>
        </div>

        <div class="col-xs-12" style="padding: 10px;">
            <div class="col-xs-4">
                <input type="submit" value="Upload" id="ajaxUploadButton" class="btn">
            </div>
            <div class="col-xs-7">

            </div>
        </div>

    </fieldset>

</form>