@using BaseApp.Web.Components.Example
@using BaseApp.Web.Models.Example
@model BaseApp.Web.Models.Example.CountryArgsModel

@{
    ViewBag.Title = "Countries";
}

<div class="col-xs-12 countryListContainer">
    <div class="col-xs-12 paging-sorting-header">
        <div class="row">
            <div class="col-xs-8">
                <h4>Countries</h4>
            </div>
            <div class="col-xs-4">
                <form class="paging-sorting-filter-form">
                    <div class="input-group">
                        <input type="text" name="Search" class="form-control" data-highlight-column="@nameof(CountryListItemModel.Name)" placeholder="Search" />
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default" data-apply="1"><i class="glyphicon glyphicon-search"></i></button>
                            <button type="button" class="btn btn-default" data-clear><i class="glyphicon glyphicon-remove-circle"></i></button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="paging-sorting-update">        
        @(await Component.InvokeAsync<CountryListViewComponent>(new { args = Model }))
    </div>
</div>


<script type="text/javascript">
    $(function() {
        var customerListInnerPagingSorting = new PagingSorting("div.countryListContainer", "@Url.Action("GetCountriesList")");
    });
</script>