@model BaseApp.Web.Models.Account.UserProfileModel
@{
    ViewBag.Title = "Profile";
}

<div id="divProfileInfo">
    @Html.Partial("_Profile")
</div>

<script type="text/javascript">

    $(function () {
        new userProfileEdit("#divProfileInfo", "@Url.Action("_ChangePassword")");
    });

</script>
