<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="User login page" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewBag.Title</title>

    @Html.Partial("_Include")
</head>
<body>
    <div class="container">
        <div class="col-md-12">
            @RenderBody()
        </div>
    </div>
</body>
